<div class="edes-uditok-lista">
      <div *ngFor="let candy of edesuditok; let i = index" class="edes-uditok-item">
        <div class="edes-uditok-card">
          <h3>{{ candy.name }}</h3>
          <img [src]="candy.image" [alt]="candy.nev" class="edes-uditok-kep"> 
          <p class="leiras"> {{ candy.leiras }} </p>
          <p class="ar">Ár: {{ candy.ar }} Ft</p>
          <div class="input-group" *ngIf="user">
            <input [(ngModel)]="candy.db" type="number" class="form-control text-center" min="1" [max]="candy.maxDb">
          </div>
          <button *ngIf="user" (click)="addStuff(candy, candy.db)" class="btn btn-outline-success mt-2">Megveszem</button>
  
        </div>
      </div>
  </div>
