<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/candies" routerLinkActive="active">Cukorka bolt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/candies" routerLinkActive="active">Cukrok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/chipsek" routerLinkActive="active">Chipsek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/csipos-csipsek" routerLinkActive="active">Csipős Chipsek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/edes-uditok" routerLinkActive="active">Édes Üditök</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/gumicukrok" routerLinkActive="active">Gumicukrok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/savanyu-uditok" routerLinkActive="active">Savanyu-Üditök</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/sos-chipsek" routerLinkActive="active">Sós Chipsek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/uditok" routerLinkActive="active">Üditök</a>
          </li>
        </ul>
        <div class="cart-button-container">
          <button *ngIf="user" (click)="viewCart()" class="cart-button">
            Kosár {{ cartCount }}
          </button>
            <a class="nav-link active" aria-current="page" routerLink="/register" routerLinkActive="active">Regisztrálás</a>
          
            <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">Bejelentkezés</a>
        </div>
        <button *ngIf="user" (click)="Logout()">Kijelentkezés</button>
      </div>
    </div>
  </nav>