<div class="order-container">
    <h2>Rendelés</h2>
    
    <form (ngSubmit)="addOrder()" #orderForm="ngForm">
      <div class="form-group">
        <label for="name">Név:</label>
        <input 
          type="text" 
          id="name" 
          [(ngModel)]="name" 
          name="name" 
          required 
          class="form-control"
          placeholder="Adja meg a nevét">
      </div>
      
      <div class="form-group">
        <label for="address">Cím:</label>
        <input 
          type="text" 
          id="address" 
          [(ngModel)]="address" 
          name="address" 
          required 
          class="form-control"
          placeholder="Adja meg a címét">
      </div>
      
      <div class="form-group">
        <label for="comment">Megjegyzés:</label>
        <textarea 
          id="comment" 
          [(ngModel)]="comment" 
          name="comment" 
          class="form-control"
          placeholder="Bármilyen megjegyzés a rendeléshez (pl. kérések)"></textarea>
      </div>
  
      <div class="form-group">
        <label for="phone">Telefonszám:</label>
        <input 
          type="tel" 
          id="phone" 
          [(ngModel)]="phone" 
          name="phone" 
          required 
          class="form-control"
          placeholder="Adja meg a telefonszámát">
      </div>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          required 
          class="form-control"
          placeholder="Adja meg az email címét">
      </div>
      
      <div class="form-group">
        <label for="paymentMethod">Fizetési Mód:</label>
        <select 
          id="paymentMethod" 
          [(ngModel)]="paymentMethod" 
          name="paymentMethod" 
          class="form-control">
          <option *ngFor="let option of paymentOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!orderForm.form.valid">Rendelés Leadása</button>
      </div>
    </form>
    
    <div *ngIf="cart.length > 0">
      <h3>Kosár tartalma:</h3>
      <ul>
        <li *ngFor="let item of cart">
          {{ item.name }} - {{ item.db }} db
        </li>
      </ul>
    </div>
  
    <div *ngIf="feedbackMessage" class="alert" [ngClass]="{'alert-success': feedbackMessage === 'A rendelés sikeresen leadva!', 'alert-danger': feedbackMessage !== 'A rendelés sikeresen leadva!'}">
      {{ feedbackMessage }}
    </div>
  </div>