
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fafafa;
    margin-bottom: 20px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    border-color: #555;
    box-shadow: 0 0 5px #555;

  }
  
  button {
    width: 100%;
    padding: 14px;
    background-color:  #333;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color:  #555;
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.98);
  }