<div class="uditok-lista">
    <div *ngFor="let candy of uditok; let i = index" class="uditok-item">
        <div class="uditok-card">
          <h3>{{ candy.nev }}</h3>
          <img [src]="candy.image" [alt]="candy.nev" class="uditok-kep"> 
          <p class="leiras"> {{ candy.leiras }} </p>
          <p class="ar">Ár: {{ candy.ar }} Ft</p>
          <div class="input-group">
            <input [(ngModel)]="candy.db" type="number" class="form-control text-center" min="1" [max]="candy.maxDb">
          </div>
          <button (click)="addStuff(candy, candy.db)" class="btn btn-outline-success mt-2">Megveszem</button>
  
        </div>
      </div>
  </div>
