<!-- <div class="rendezes-gombok">
    <button (click)="sortProducts('low-to-high')">
      <i class="bi bi-arrow-down"></i> Legolcsóbbak
    </button>
  
    <button (click)="sortProducts('high-to-low')">
      <i class="bi bi-arrow-up"></i> Legdrágábbak
    </button>
  </div> -->
  <!-- {{candies|json}} -->
  
  <div class="edes-gumicukrok-lista">
    <ng-container *ngFor="let candy of candies;">
      <div class="edes-gumicukrok-item">
        <div class="edes-gumicukrok-card">
          <h3>{{ candy.nev }}</h3>
          <img [src]="candy.image" class="edes-gumicukrok-kep"> 
  
          <p class="leiras"> {{ candy.leiras }} </p>
          <p class="ar">Ár: {{ candy.ar }} Ft</p>
          <div class="input-group">
            <input [(ngModel)]="candy.db" type="number" class="form-control text-center" min="1" [max]="candy.maxDb">
          </div>
          <button (click)="addStuff(candy, candy.db)" class="btn btn-outline-success mt-2">Megveszem</button>

        </div>
      </div>
    </ng-container>
  </div>
  
  <!-- <div *ngIf="showNotification" class="notification">
    A termék kosárba rakva!
  </div>
  
  <button class="scroll-to-top" (click)="scrollToTop()">↑</button> -->
  