<div class="csipos-chipsek-lista">
    <div *ngFor="let chip of csiposchipsek; let i = index" class="csipos-chipsek-item">
      <div class="csipos-chipsek-card">
        <h3>{{ chip.nev }}</h3>
        <img [src]="chip.image" [alt]="chip.nev" class="csipos-chipsek-kep">
        <p class="leiras"> {{ chip.leiras }} </p>
        <p class="ar">Ár: {{ chip.ar }} Ft</p>
        <div class="input-group">
          <input [(ngModel)]="chip.db" type="number" class="form-control text-center" min="1" [max]="chip.maxDb">
        </div>
        <button (click)="addStuff(chip, chip.db)" class="btn btn-outline-success mt-2">Megveszem</button>

      </div>
    </div>
  </div>
